<!DOCTYPE html>
<html lang="en" ng-app="calcApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="calculate.js"></script>
    <script src="display.js"></script>
    <title>Calculator</title>
    <meta name="Author" content="Joshua Byun">
    <meta name="Keyword" content="calculator">
</head>
<body ng-controller = "calcController as cc" ng-keyup="cc.acceptKeyPressed($event.key)">
<div id="calcContainerDiv">
    <div id="outputDiv">
        <div class="screenDiv" id="calculationScreen" ng-bind="cc.upperDisplay"></div>
        <div class="screenDiv" id="answerScreen" ng-bind="cc.lowerDisplay"></div>
    </div>
    <div id="inputDiv">
        <div id="keyDiv">
            <div id="resetDiv" class="font_size">
                <button class="clear" ng-click="cc.acceptClear('C','clear')">C</button>
                <button class="clear" ng-click="cc.acceptClear('CE','clear')">CE</button>
            </div>
            <div id="numDiv" class="font_size">
                <button class="numKey" ng-click="cc.acceptNum('7','numKey')">7</button>
                <button class="numKey" ng-click="cc.acceptNum('8','numKey')">8</button>
                <button class="numKey" ng-click="cc.acceptNum('9','numKey')">9</button>
                <button class="numKey" ng-click="cc.acceptNum('4','numKey')">4</button>
                <button class="numKey" ng-click="cc.acceptNum('5','numKey')">5</button>
                <button class="numKey" ng-click="cc.acceptNum('6','numKey')">6</button>
                <button class="numKey" ng-click="cc.acceptNum('1','numKey')">1</button>
                <button class="numKey" ng-click="cc.acceptNum('2','numKey')">2</button>
                <button class="numKey" ng-click="cc.acceptNum('3','numKey')">3</button>
                <button class="numKey" ng-click="cc.acceptNum('0','numKey')">0</button>
                <button class="numKey" ng-click="cc.acceptNum('.','numKey')">.</button>
                <button id="equalSign" ng-click="cc.acceptEqual()">=</button>
            </div>
        </div>
        <div id="operatorDiv" class="font_size">
            <button class="specialChar" ng-click="cc.acceptOperator('/','operator')">/</button>
            <button class="specialChar" ng-click="cc.acceptOperator('X','operator')">X</button>
            <button class="specialChar" ng-click="cc.acceptOperator('-','operator')">-</button>
            <button class="specialChar" ng-click="cc.acceptOperator('+','operator')">+</button>
        </div>
    </div>
</div>
</body>
</html>