*{
    font-size: 0;
}
body{
    height:100vh;
    width:100vw;
    background-image: url("desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
#calcContainerDiv{
    height:80%;
    width:30%;
    background-color: #343377;
    position: absolute;
    border-radius: 10%;
    left:50%;
    top:10%;
    transform: translate(-50%);
}

@media (max-width: 450px) and (orientation: portrait) {
    #calcContainerDiv{
        height:90%;
        width:90%;
        top:5%;
    }
}
@media (max-width: 750px) and (orientation: landscape) {
    #calcContainerDiv{
        height:96%;
        width:45%;
        top:2%;
    }
}
@media (min-width: 451px) and (max-width: 768px)  and (orientation: portrait) {
    #calcContainerDiv{
        height:75%;
        width:50%;
        top:10%;
    }
}
@media (min-width:751px) and (max-width: 1024px) and (orientation: landscape) {
    #calcContainerDiv{
        height:75%;
        width:40%;
        top:10%;
    }
}


/*--------------------------Display---------------*/
#outputDiv{
    background-color: #819DC3;
    position: absolute;
    height:20%;
    top:5%;
    width:90%;
    left:5%;
    border-radius: 10%;
    box-sizing: border-box;
}
.screenDiv{
    left:5%;
    width:90%;
    top:10%;
    position: relative;
    font-size:3.5vh;
    color:black;
    /*text-align: right;*/
}
#calculationScreen{
    height:30%;
    background-color: #FFF4C7;
    white-space: nowrap;
}
#answerScreen{
    height:50%;
    background-color: #FFE680;
}
/*--------------------------Key Input---------------*/
.clear, .numKey, #equalSign, .specialChar{
    font-size: 3vh;
}
#inputDiv{
    background-color: #819DC3;
    position: absolute;
    height: 70%;
    width: 90%;
    margin-top:3%;
    top:25%;
    left:5%;
    border-radius: 10%;
    box-sizing: border-box;
}
#keyDiv{
    position: absolute;
    left: 5%;
    top:5%;
    height:90%;
    width:65%;
    background-color: #FFEB98;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#resetDiv{
    position: relative;
    width:100%;
    height: 15%;
    top:2%;
    text-align: center;
    box-sizing: border-box;
    padding:2%;
}
.clear{
    position: relative;
    display: inline-block;
    width:45%;
    height: 100%;
}
#numDiv{
    position: relative;
    width:100%;
    height: 80%;
    top:2%;
    text-align: center;
    box-sizing: border-box;
    padding:3%;
}
.numKey, #equalSign{
    position: relative;
    display: inline-block;
    width:30%;
    height: 25%;
}
#operatorDiv{
    position: absolute;
    right:5%;
    top:5%;
    height:90%;
    width:25%;
    background-color: #FFEB98;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.specialChar{
    position: relative;
    width:90%;
    height:22%;
    margin-top: 5%;
    top:2.5%;
}
button{
    border-radius:10px;
}